<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ksdfdsffkinknv</a>
        </div>
    </div>
</nav>

<div id="header-cont">
    <div class="background-earth">
        <div class="earth">
            <div class="earth--shadow"></div>
        </div>
        <div class="moon"></div>
        <div class="stars"></div>
        <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    </div>
</div>

<div class="container-fluid" id="info">
    <div class="wrapper">
        <div class="bubble-container">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 about-us">
                <h2>About Us</h2>
                <h3>We are a experienced team that understand all sides of the world</h3>
                <h3>Our team is made up of passionate indviduals all over the world, and ddad ldfkd sldfkd erer ldf.</h3>
            </div>
            <div class="col-sm-6 grid">
                <!-- some icons -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="donate">
    <h2 style="text-align: center" id="works-title">Support</h2>
    <div class="container text-center">
        <button class="pulse donate-button" (click)="donation()">Donate Here</button>
    </div>
</div>

<div class="container-fluid" id="history">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>History</h3>
                <h3>Thank you for your support</h3>
                <div class="row" id="social">
                    <div class="col-sm-3">
                        <a href="facebook.com" class="btn btn-default btn-block"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="twitter.com" class="btn btn-default btn-block"><i class="fa fa-twitter fa-2x"></i></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://github.com/imadmk" class="btn btn-default btn-block"><i class="fa fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="contact-form">
                <table id="rwd-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Asset</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data Col 1a</td>
                            <td>Data Col 2a</td>
                            <td>Data Col 3a</td>
                        </tr>
                        <tr>
                            <td>Data Col 1b</td>
                            <td>Data Col 2b</td>
                            <td>Data Col 3b</td>
                        </tr>
                        <tr>
                            <td>Data Col 1c</td>
                            <td>Data Col 2c</td>
                            <td>Data Col 3c</td>
                        </tr>
                        <tr>
                            <td>Data Col 1d</td>
                            <td>Data Col 2d</td>
                            <td>Data Col 3d</td>
                        </tr>
                        <tr>
                            <td>Data Col 1e</td>
                            <td>Data Col 2e</td>
                            <td>Data Col 3e</td>
                        </tr>
                        <tr>
                            <td>Data Col 1f</td>
                            <td>Data Col 2f</td>
                            <td>Data Col 3f</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>