<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{'AccountTitle'|translate}}</a>
        </div>
    </div>
</nav>

<div id="header-cont">
    <div class="background-earth">
        <div class="earth">
            <div class="earth--shadow"></div>
        </div>
        <div class="moon"></div>
        <div class="stars"></div>
        <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    </div>
</div>

<div class="container-fluid" id="info">
    <div class="wrapper">
        <div class="bubble-container">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 about-us">
                <h1>{{'AboutUsTitle'|translate}}</h1>
                <h4>{{'AboutUsText'|translate}}</h4>
            </div>

            <div class="col-sm-6">
                <!-- some icons -->

                <!-- <img class="gif" src="./assets/img/SD-Small.gif"> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="donate">
    <h2 style="text-align: center" id="works-title">{{'SupportTitle'|translate}}</h2>
    <h4 style="text-align: center">{{'SupportText'|translate}}</h4>
    <div class="container please-center">
        <button class="pulse donate-button " (click)="gotoDonation()">{{'DonateHere'|translate}}</button>
    </div>
</div>

<div class="container-fluid" id="history" >
    <div class="container" *ngIf="!gotHistory">

        <div class="please-center">
            <h2 class="fa fa-arrow-up fa-2x arrow bounce"></h2>
            <h2>No History Yet</h2>

            <!-- <p class="fa fa-arrow-up fa-2x arrow bounce"></p> -->
        </div>

    </div>
    <div class="container" *ngIf="gotHistory">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{'HistoryTitle'|translate}}</h2>
                <h4>{{'HistoryText'|translate}}</h4>
            </div>
            <div class="col-sm-6" id="contact-form">
                <table id="rwd-table">
                    <thead>
                        <tr>
                            <th>{{'Date'|translate}}</th>
                            <th>{{'Asset'|translate}}</th>
                            <th>{{'Amount'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of donationHistoryList">
                            <td>{{donation.created_at|date: 'dd/MM/yyyy'}}</td>
                            <td>{{donation.currency}}</td>
                            <td>{{donation.amount/100000000}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>