<div class="background-earth">
    <div class="earth">
        <div class="earth--shadow"></div>
    </div>
    <div class="moon"></div>
    <div class="stars"></div>

    <div class="page-hero">
        <div class="container">
            <h1>{{selectedCurrency}} {{"CurrencyTitle"|translate}}</h1>

            <div class="circle">
                <div class="qr-code">
                    <qrcode [qrdata]="angularxQrCode" [size]="200" [level]="'M'"></qrcode>
                </div>
            </div>
            <table class="poppin-info">
                <thead>
                    <tr>
                        <th><h1></h1></th>
                        <th><h1></h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{"CurrencyText"|translate}}:</td>
                        <td>{{selectedCurrency}}</td>
                    </tr>
                    <tr>
                        <td>{{"CurrencyAddress"|translate}}:</td>
                        <td>{{currencyAddress}}</td>
                    </tr>
                    <tr>
                        <td>{{"CurrencyExpiration"|translate}}:</td>
                        <td>{{currencyEnd}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>