<div class="background-earth">
    <div class="earth">
        <div class="earth--shadow"></div>
    </div>
    <div class="moon"></div>
    <div class="stars"></div>
    <div class="page-hero">
        <h1>{{"WELCOME"|translate}}</h1>
    </div>

    <div style="height: 500px" class="graph">
        <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
            </div>

    <div class="welcome-buttons">
        <div class="row bottom-space">
            <div class="button col-sm-6 col-xs-6" (click)="login()">{{"Login"|translate}}</div>
        </div>
        <div class="row">
            <div class="button col-sm-6" (click)="register()">{{"Register"|translate}}</div>
        </div>
    </div>
</div>

