<div class="background-earth">
    <div class="earth">
        <div class="earth--shadow"></div>
    </div>
    <div class="moon"></div>
    <div class="stars"></div>
</div>

<div class="page-hero">

    <div class="container">

        <h1>{{"Register" | translate}}</h1>

        <form action="" method="post" class="form">
            <input type="email" [placeholder]="'Email'|translate" name="email" [(ngModel)]="input.email" class="field">
            <input type="submit" (click)="register()" class="btn" [value]="'Register' | translate">
        </form>

        <div class="pass-link">
            <a [routerLink]="['/login']"> {{"RegisterToLoginLink" | translate}}</a>
        </div>

    </div>
</div>
