/* add a little bottom space under the images */
.thumbnail {
	  /* margin-bottom:7px; */
    margin:7px;
    cursor: pointer;
}

.background-earth {
    overflow: scroll;
}

.center {
    margin: auto
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {color: #a972cb;
    margin-top: 100px;
    padding: 30px;
    border-left: 8px solid #ef6eae;
    background: linear-gradient(to right, #162843 , #17181c);
    background-color: gray;
    opacity:0.8 !important;
}

.glyphicon {
    background:#111;
    color:#fff;
    padding:20px;
    margin:20px;
    border:5px #338899 solid;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    transition: all 800ms ease-in-out;
}
.glyphicon:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    border:10px #773355 solid;
    padding:15px;
}



@media screen  and (max-width: 770px) {
    .glyphicon {
        width: 120px;
    }
}
